head {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  text-shadow: 4px 4px 4px #aaa;
}

body {
  font:normal 24px/1.6em Arial, Helvetica, sans-serif;
	/*color:#2a3845;*/
  color: white;
	margin:0;
	padding:0;
  text-align: center;
/*	background:#FFFFFF;
  body {*/
    /*background-image: url("images/grad.jpg");*/
    background-color: #1882b6;
}

a:visited, a:link {
	color: white;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:white;
	/*text-decoration:none;*/
	background:none;
}

h1 {
	/*color:#29A3CC;*/
  color: white;
  text-align: left;
	margin:60 0 31px;
	padding-bottom:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

h2 {
	/*color:#7a2e40;*/
  color: white;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 30px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color: white;
	margin:10px 0;
	padding-bottom:15px;
	font:bold 28px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

img{
    max-width:100%;
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
  text-align: center;
  margin: auto;
  width: 50%;
}


.above {
  text-align: center;
  margin: auto;
  width: 26%;
}


/*
#nav{
    border:1px solid #ccc;
    border-width:1px 0;
    text-align:center;
    list-style-type:none;  
    margin:-30px auto;  
    padding:0px;  
    height:35px;  
    position: relative;
    background-color:#900;  
    width: 100%
    font-family:Arial;  
    font-size:0.9em;  
}

#nav ul{
    height: auto;
    padding: 0px 0px;
    margin: 0px;
}

#nav li{
    display:inline;    
    background-color:#900;  
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px;
    float:center;  
    height:30px;  
    line-height:30px;
}
#nav a{   
    display:inline-block;  
    padding:0 100px;  
    color:#FFF;  
    text-decoration:none; 
}

#nav a:hover {
	text-decoration:underline;
  background-color: #FFF;
	color: #1875b6;
}*/

.nav {
  position: relative;
  top: 8px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  width:20%;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
 
.nav a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  /*background-color: #005f5f;*/
  background-color: #1882b6;
  text-decoration:underline;
}


/*#links {
  float: left;
  margin-left: 100px;
  margin-bottom: 50px;
  display:inline-block;
}

#links1 {
  float: center;
  margin-bottom: 50px;
  display:inline-block;
}  

#links2 {
  float: right;
  margin-right: 100px;
  margin-bottom: 50px;
  display:inline-block;
} 
*/

.Row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.Column
{
    display: table-cell;
}

.Column a:hover{
  color: #444;
  text-decoration:underline;

}

.image {
  display: inline;
  width: 180%;
}
