body {
	text-align: center;
    margin: 0 auto;
    width: auto;
    height: 500px;
	font-family: "Open Sans";
	background-color: #FFFCF9;
}

.contact1 {
    display: none;
}

.contact1 img {
    display: none;
}

.item {
    width: 50px;
    height: 50px;
}  

#background {
    position: fixed;
    top: 0;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
    left: 0;
    max-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#header {
	padding: 5px 0px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	width: 37.5%;
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 3px;
    border-bottom: 3px solid #43BFE8;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#footer {
    position: absolute;
    /*padding: 5px 0px;*/
    right: 0;
    left: 0;
    /*top: 207%;*/
    /*bottom: -150px;*/
    top: 780px;
    margin: 0 auto;
    width: 38%;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    border-top: 3px solid #43BFE8;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#scheme {
	position: absolute;
	margin: 0 auto;
    /*width: 80%;*/
    /*height: 92%;*/
    right: 0;
    left: 0;
    /*top: 65%;*/
    /*top: -230px;*/
    top: -160px;
    bottom: 0;
}

#checkers {
    position: absolute;
    margin: 0 auto;
    width: 75%;
    height: 92%;
    right: 0;
    left: 0;
    /*top: 4.5%;*/
    /*top: 60px;*/
    top: -44px;
    bottom: 0;
    /*top: 500px;*/
    /*left: 393px;*/
}

#ngordnet {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    /*top: 117%;*/
    /*top: 4.5%;*/
    /*top: 60px;*/
    top: -86.8px;
    bottom: 0;
}

video {
	margin-top: 29px;
	width: 500px;
    /*width: 50%;*/
	height: 500px;
    height: 100%;
	opacity: .35;
}

#sc {
    margin-top: 29px;
    width: 500px;
    /*width: 50%;*/
    height: 500px;
    height: 100%;
    opacity: .35;
}

.content {
    position: absolute;
    /*width: 37.5%;*/
    /*height: 71%;*/
    width: 500px;
    height: 500px;
    left: 22.9%;
    /*top: 17.8%;*/
    top: 0px;
    text-align: left;
    line-height: 30px;
    margin: auto 10px;
    font-size: 20px;
    color: white;
    background-color: #0D0D0D;
}

.content1 {
    position: absolute;
    width: 52.1%;
    height: 45.7%;
    left: 22.9%;
    /*top: 94.7%;*/
    /*top: 17.8%;*/
    top: 111.5px;
    text-align: left;
    line-height: 30px;
    margin: auto 10px;
    font-size: 15px;
    color: white;
    background-color: #363636;
}

.content2 {
    position: absolute;
    width: 52.15%;
    height: 50.7%;
    left: 22.9%;
    /*top: 142.6%;*/
    /*top: 17.8%;*/
    top: 90px;
    display: run-in;
    text-align: left;
    line-height: 30px;
    margin: auto 10px;
    font-size: 15px;
    color: white;
    background-color: #363636;
}

.carousel-item {
    width: 960px;
    position: relative;
    height: 100%;
    float: left;
}

.carousel-container {
    width: 960px;
    margin: 0 auto;
    height: 600px;
    /*top: 575px;*/
    top: 40px;
    /*top: 1200%;*/
    /*top: 700px;*/
    overflow: hidden;
    position: relative;
    margin-bottom: 38px;
}

#carousel {
    width: 4800px;
    height: 600px;
    margin-left: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 130px;
    top: 40%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 130;
    top: 40%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.img-scaled {
    width: 100%;
    height: 100%;
}

.img-scaled:hover {
    transition-duration: 0.3s;
    -webkit-filter: invert(50%);
    -moz-filter: invert(50%);
    -o-filter: invert(50%);
    filter: invert(50%);
}

.img-scaled-wh {
    width: 100%;
    height: 100%;
    position: relative;
}

a:link {
    /*color: black;*/
    color: white; /*can take out*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}

a:visited {
    color: white; /*can take out*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*color: black;*/
}

.text:hover a{
    transition-duration: 0.2s;
    color:#43BFE8;
    background:none;
}

#topbar {
    margin: 0 auto;
    font-size: 20px;
    border-bottom: 2px solid #43BFE8;
    color: white;    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#menu li {
    display: inline-block;
    /*text-align: -webkit-match-parent;*/
}

#menu {
    padding-top: 0px;
    margin-bottom: 0;
    margin-top: 40px;
    border-top: 2px solid #43BFE8;
}

.space {
    /*display: none;*/
    border-right: 2px solid #43BFE8;
    border-left: 2px solid #43BFE8;
    padding: 0px 0px;
    /*top: 30px;*/
    height: 15px;
}

.text {
    font-size: 16px;
    top: 30px;
    padding: 15px 65px;
}

@media (max-width: 899px) {
    #topbar {
        position: fixed;
        padding-top: 30px;
        width: 100px;
        /*width: 180px;*/
        height: 100%;
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-right: 2px solid #43BFE8;
        margin-left: 0;
        margin-right: 0;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .space {
        display: none;
        height: 0;
        width: 0;
        border-left: none;
        border-right: none;
    }

    .text {
        font-size: 16px;
        top: 30px;
        padding: 25px 25px;
        /*padding: 25px 65px;*/
        /*margin-bottom: 20px;*/
        width: 50px;
        border-bottom: 2px solid #43BFE8;
        height: 50px;
    }

    a {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    a:visited {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    }

    #header {
        padding: 5px 0px;
        margin-top: 15px;
        /*margin-left: 43%;*/
        margin-left: 320px;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 3px;
    }

    #footer {
        top: 700px;
        padding: 5px 0px;
        margin-top: 0px;
        /*margin-left: 43%;*/
        margin-left: 320px;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 3px;
    }

    #section {
        width: 80%;
        height: 50%;
        right: 0%;
        position: absolute;
    }

    #menu {
        border-top: none;
        margin-top: 0;
        padding-left: 0;
        height: 100%;
    }

    #s {
        height: 20px;
    }

    .contact1 img {
        margin-left: 25px;
        /*margin-left: 65px;*/
        display: block;
    }

    .contact1 {
        display: block;
        top: 50px;
        left: -285px;
        margin-bottom: 10px;
        top: 430px;
        width: 180px;
    }
}
