body {
	text-align: center;
    margin: auto 10px;
    width: auto;
    height: 10px;
    color: white; /*can take out*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: "Open Sans";
	background-color: #FFFCF9;
}

#test1 img{
	display: none;
	border-radius: 100%;
	border: 2px solid #43BFE8;
}

#test1 {
	margin-top: 50px;
	display: none;
	margin-right: 120px;
	margin-left: 90px;
	float: left;
}
#test2 img{
	display: none;
	border-radius: 100%;
	border: 2px solid #43BFE8;
}

#test2 {
	margin-top: 50px;
	display: none;
	float: left;
}
#test3 img{
	display: none;
	border-radius: 100%;
	border: 2px solid #43BFE8;
}

#test3 {
	margin-top: 50px;
	margin-right: 85px;
	display: none;
	float: right;
}
#test4 img{
	display: none;
	border-radius: 100%;
	border: 2px solid #43BFE8;
}

#test4 {
	margin-top: 50px;
	margin-right: 130px;
	display: none;
	float: right;
}

/*can take out*/
#background {
	position: fixed;
	top: 0;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
	left: 0;
	max-width: 100%;
	min-height: 100%;
	z-index: -1;
}

#contentframe {
	/*top: 51.5%;*/
	width: 80%;
	height: 50%;
	right: 10.3%;
	position: absolute;
}

#container {
	padding-bottom: 10px;
}

#header {
	padding-top: 5px;
	padding-bottom: 15px;
	margin-top: 15px;
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 3px;
}

#subheader {
	margin-bottom: 19px;
	margin-top: 14px;
	font-style: italic;
}

#description {
	position: relative;
 	width: 69%; 
	margin: 0 auto;
	padding: 15px 3px;
	font-size: 18px;
	line-height: 36px;
}

ul {
	padding: 0px;
	margin: 0 auto;
}

li:hover {
    color: #505050;
    cursor: hand;
}

li {
    font-family: "Open Sans";
    display: inline;
    color: black;
    /*padding: 0px 60px;*/
    font-size: 17px;
    font-weight: 100;
    line-height: 25px;
    position: relative;
    cursor: hand;
}

.contact1 {
	display: none;
}

#topbar {
    position: relative;
    padding-bottom: 7px;
}

#me img{
	border-radius: 100%;
	border: 2px solid #43BFE8;
}

#me {
	top: 0;
	padding-bottom: 1.5%;
}

.space {
    padding: 0px 2.5%;
}

.text:hover a{
    transition-duration: 0.2s;
	color:#43BFE8;
	background:none;
}

.text {
    text-decoration: none;
    border-bottom: 2px solid #43BFE8;
    padding: 0px 3%;
}

a:link {
	/*color: black;*/
    color: white; /*can take out*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-decoration: none;
}

a:visited {
    color: white; /*can take out*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/*color: black;*/
}

.contact {
	top: 640px;
	margin-right: 40px;
}

.item {
	width: 50px;
	height: 50px;
}

@media (max-width: 1150px) {
	.contact {
		top: 675px;
	}
}

@media (max-width: 1036px) {
	.contact {
		top: 700px;
	}
}

@media (max-width: 899px) {
	#topbar {
		position: fixed;
		width: 180px;
		height: 100%;
		background-color: black;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-right: 2px solid #43BFE8;
	}

	li {
		display: list-item;
		text-align: -webkit-match-parent;
	}

	.space {
		display: none;
	}

	.text {
		font-size: 16px;
		top: 30px;
	    padding: 25px 65px;
		/*margin-bottom: 20px;*/
		width: 50px;
		height: 50px;
	}

	a {
		color: white;
    	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	a:visited {
		color: white;
    	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	}

	#contentframe {
		width: 80%;
		height: 50%;
		right: 0%;
		position: absolute;
	}

	#header {
		padding: 5px 0px;
		margin-top: 15px;
		margin-left: 20%;
		font-size: 50px;
		font-weight: 500;
		letter-spacing: 3px;
	}

	.space {
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.contact1 {
		top: 50px;
		display: block;
		/*left: -285px;*/
		margin-bottom: 10px;
		/*top: 430px;*/
	}

	#bar {
		width: 60%;
		margin-left: 20%;
		height: 3px;
		background-color: #43BFE8;
	}

	.contact {
		display: none;
	}
}
